Flask==2.0.1
Werkzeug==2.0.1
SQLAlchemy==1.4.23
Flask-SQLAlchemy==2.5.1
Flask-Login==0.5.0
google-auth==2.3.0
google-auth-oauthlib==0.4.6
google-auth-httplib2==0.1.0
google-api-python-client==2.23.0
python-dotenv==0.19.0
python-docx==0.8.11
docxtpl==0.16.4
shapely==2.0.2
deprecated==1.2.14
